@font-face {
    font-family: 'Chronicle-bold';
    src: url('../fonts/Chronicle\ Display\ Bold.woff') format('woff');
}
@font-face {
    font-family: 'Chronicle-Semibold';
    src: url('../fonts/Chronicle\ Display\ Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy\ ExtraBold.woff') format('woff');
}